.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    color: white;

    background-color: #17181F;
}

.title {
    font-family: sans-serif;
    font-size: 3rem;
}

.subTitle {
    font-family: sans-serif;
    margin-bottom: 10px;
}

.content {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

button {
    width: 150px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    padding: 15px;
    background-color: #4A369D;

    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: all .3s;
}

button:hover {
    filter: brightness(0.8)
}
